################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/arma3-macvsog-columbia-scripts/FileContentIndex
/.vs/slnx.sqlite
